/* Page style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* Header */
header {
    background-color: #222;
    color: white;
    text-align: center;
}

/* Sections */
.section {
    background: white;
    width: 80%;
    margin: 20px auto;
}

/* Skills list */
ul {
    list-style: none;
}

li {
    display: inline-block;
    background: #0077ff;
    color: white;
    margin: 5px;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
}